* {
    margin: 0;
    padding: 0;
}
.hero {
    height:100vh;
    width:100%;
    background: linear-gradient(rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.9)),url(netbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.text {
    background-color: white;
    height: 100px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 800px;
}
h1 {
    font-size:60px;
    color: rgb(201, 14, 77);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: rgb(201, 14, 77);
}
.sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.whitebox1 {
    height: 300px;
    width: 1300px;
    background-color: rgb(255, 236, 240);
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    display: grid;
    overflow: hidden;
    border-radius: 10px;
}
.mov {
    animation: spin 9s infinite linear;
    background-repeat: repeat-x;
    display: flex;
    gap: 15px;
    will-change: transform;
}
@keyframes spin {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-50%);
    }
}
.mov img{
    height: 200px;
    width: 120px;
    margin-top: 10px;
    border-radius: 10px;
}

.sec {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    display: grid;
}

.whitebox2 {
    height: 300px;
    width: 1300px;
    background-color: rgb(255, 236, 240);
    justify-content: center;
    margin-bottom: 10px;
    display: grid;
    overflow: hidden;
    border-radius: 10px;
}
.ser {
    animation: spin 9s infinite linear;
    background-repeat: repeat-x;
    display: flex;
    gap: 15px;
    width: max-content;
    will-change: transform;
}
@keyframes spin {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-50%);
    }
}
.ser img{
    height: 200px;
    width: 120px;
    margin-top: 10px;
    border-radius: 10px;
}
.poster1 {
    height: 400px;
    width: 400px;
    background-image: url(divv.jpg);
    border-radius: 20px;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info1 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}

.bigbox1,.bigbox3,.bigbox5,.bigbox7,.bigbox9,.bigbox11,.bigbox13,.bigbox15,.bigbox17,.bigbox19,.bigbox21 {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info1 p,.info3 p,.info5 p,.info7 p,.info9 p,.info11 p,.info13 p,.info15 p,.info17 p,.info19 p,.info21 p {
    text-align: center;
    font-size: 20px;
}
h1 {
    text-align: center;
}
.poster2 {
    height: 400px;
    width: 400px;
    background-image: url(tmr.jpg);
    border-radius: 20px;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info2 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.bigbox2,.bigbox4,.bigbox6,.bigbox8,.bigbox10,.bigbox12,.bigbox14,.bigbox16,.bigbox18,.bigbox20,.bigbox22 {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info2 p,.info4 p,.info6 p,.info8 p,.info10 p,.info12 p,.info14 p,.info16 p,.info18 p, .info20 p, .info22 p {
    text-align: center;
    font-size: 20px;
}
.poster3 {
    height: 400px;
    width: 400px;
    background-image: url(hgg.jpg);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}

.info3 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster4 {
    height: 400px;
    width: 400px;
    background-image: url(Interstellar.jpg);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info4 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster5 {
    height: 400px;
    width: 400px;
    background-image: url(sa.jpg);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info5 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster6 {
    height: 400px;
    width: 400px;
    background-image: url(5-th\ wave.jpg);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info6 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster7 {
    height: 400px;
    width: 400px;
    background-image: url(sm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info7 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    
}
.poster8 {
    height: 400px;
    width: 400px;
    background-image: url(tbisp.jpg);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info8 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}

.poster9 {
    height: 400px;
    width: 400px;
    background-image: url(ww.jpg);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info9 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}.poster10 {
    height: 400px;
    width: 400px;
    background-image: url(20.jpg);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info10 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster11 {
    height: 400px;
    width: 400px;
    background-image: url(Jak.jpg);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info11 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster12 {
    height: 400px;
    width: 400px;
    background-image: url(stwd.jpg);
    border-radius: 20px;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.info12 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster13 {
    height: 400px;
    width: 400px;
    background-image: url(spb.jpg);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info13 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster14 {
    height: 400px;
    width: 400px;
    background-image: url(sl.jpg);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info14 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster15 {
    height: 400px;
    width: 400px;
    background-image: url(sd.jpg);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info15 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster16 {
    height: 400px;
    width: 400px;
    background-image: url(st100.jpg);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info16 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster17 {
    height: 400px;
    width: 400px;
    background-image: url(stvd.jpg);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info17 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster18 {
    height: 400px;
    width: 400px;
    background-image: url(sdd.jpg);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info18 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster19 {
    height: 400px;
    width: 400px;
    background-image: url(stna.jpg);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info19 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster20 {
    height: 400px;
    width: 400px;
    background-image: url(sob.jpg);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info20 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster21 {
    height: 400px;
    width: 400px;
    background-image: url(stw.jpg);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info21 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.poster22 {
    height: 400px;
    width: 400px;
    background-image: url(sst.jpg);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid ;
    border-color: white;
    border-width: 3px;
}
.info22 {
    height: 360px;
    width: 850px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}

.main p {
    margin-top: 15px;
}
